body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.fd-global--name {
  position: absolute;
  opacity: 0.05;
  z-index: -1;
}

.fd-global--name p {
  font-size: 50rem;
  font-family: "Cossette Titre", sans-serif;
  margin: 0;
  padding: 0;
}