.fd-about-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;
    color: #4e4e4e;
    background: linear-gradient(to bottom, #000000 0%, #0b0b0b 40%, #0b0b0b 100%);
}


.fd-about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px; /* Podés ajustar según necesites */
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #0b0b0b 100%);
  pointer-events: none;
  z-index: 2;
}

.fd-about-box {
    background: #151515;
    display: flex;
    border: 2px solid #ccc;
    border-right: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 1rem;
    gap: 10rem;
    z-index: 3;
}

.fd-about--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    text-align: left;
    color: #e9e7e3;
    border-radius: 1.5rem;
}

.fd-about--info h6 {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Cinzel", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 0.75rem 0;
    color: #aaa;
    filter: brightness(0.9);
}

.fd-about--info h3 {
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    font-size: clamp(1.6rem, 3vw, 2.2rem);
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    line-height: 1.2;

}

.fd-about--info h3 span {
    background: linear-gradient(45deg, #523d23, #917032, #eed99f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding: 0 0.1rem;
}

.fd-about--p1 {
    margin-bottom: 1rem;
}

.fd-about--p1 span {
    color: #917032;
    font-weight: 600;
}

.fd-about--p2 {
    text-indent: 17em;
}

.fd-about--p2 span {
    color: #917032;
    letter-spacing: -0.1rem;
    font-weight: 800;
    margin-right: 1rem;
}

.fd-about--info p {
    font-size: 1rem;
    line-height: 1.7;
    color: rgba(230, 225, 220, 0.9);
    margin: 0 0 1rem 0;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.fd-about--img img {
    max-width: 350px;
    filter: brightness(0.8);
}

.fd-about--year {
    position: absolute;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    top: 11.5%;
    left: 26%;
    font-size: 12em;
    z-index: 2;
    color: #917032;
    opacity: 0.5;
}